
.vs/ecotrend-iq-Main/config/applicationhost.config
.vs/ecotrend-iq-Main/FileContentIndex/a563a8d3-e422-40b9-940b-cac8731fe3e7.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ecotrend-iq-Main/FileContentIndex/read.lock
.vs/ecotrend-iq-Main/FileContentIndex/1b45d966-a268-40e6-8463-5d165a1c34aa.vsidx
.vs/ecotrend-iq-Main/FileContentIndex/78b260ec-f9a1-4d6d-b228-fefcf050427c.vsidx
.vs/ecotrend-iq-Main/FileContentIndex/85d33a19-7251-460b-bfba-59e0a48ba9b3.vsidx
.vs
